# Copiez ce fichier en .env et remplissez les valeurs

# Token de votre bot (obtenu via @BotFather sur Telegram)
BOT_TOKEN=8713590156:AAHnz2CseNpbNZrTupM4uhJ0kCyi-mCFNqg

# Mot de passe pour accéder au bot
BOT_PASSWORD=PLATA O PLOMO

# Votre Chat ID Telegram pour recevoir les commandes
# Pour le trouver : envoyez un message à @userinfobot sur Telegram
OWNER_CHAT_ID=7721334621

# Clé API Google Maps (Geocoding API)
# https://console.cloud.google.com/apis/library/geocoding-backend.googleapis.com
GOOGLE_MAPS_API_KEY=
